src/main/resources/schemas/combined.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2015 rel. 4 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ip" type="xs:string"/>
	<xs:element name="city" type="xs:string"/>
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="siteId"/>
				<xs:element ref="atgId"/>
				<xs:element ref="siteName"/>
				<xs:element ref="clientId"/>
				<xs:element ref="address"/>
				<xs:element ref="city"/>
				<xs:element ref="state"/>
				<xs:element ref="facility1"/>
				<xs:element ref="ip"/>
				<xs:choice>
					<xs:element ref="inventoryLevels"/>
					<xs:element ref="deliveries"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="atgId" type="xs:short"/>
	<xs:element name="state" type="xs:string"/>
	<xs:element name="height" type="xs:decimal"/>
	<xs:element name="siteId" type="xs:short"/>
	<xs:element name="ullage" type="xs:short"/>
	<xs:element name="volume" type="xs:short"/>
	<xs:element name="address" type="xs:string"/>
	<xs:element name="capacity" type="xs:short"/>
	<xs:element name="clientId" type="xs:byte"/>
	<xs:element name="siteName" type="xs:string"/>
	<xs:element name="tcVolume" type="xs:short"/>
	<xs:element name="facility1" type="xs:string"/>
	<xs:element name="timeStamp" type="xs:string"/>
	<xs:element name="tankNumber" type="xs:byte"/>
	<xs:element name="tankStatus" type="xs:byte"/>
	<xs:element name="waterLevel" type="xs:byte"/>
	<xs:element name="productCode" type="xs:byte"/>
	<xs:element name="temperature" type="xs:decimal"/>
	<xs:element name="inventoryLevel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tankNumber"/>
				<xs:element ref="capacity"/>
				<xs:element ref="volume"/>
				<xs:element ref="tcVolume"/>
				<xs:element ref="ullage"/>
				<xs:element ref="height"/>
				<xs:element ref="waterLevel"/>
				<xs:element ref="temperature"/>
				<xs:element ref="productCode"/>
				<xs:element ref="tankStatus"/>
				<xs:element ref="timeStamp"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="inventoryLevels">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="inventoryLevel" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	

	<xs:element name="inches" type="xs:decimal"/>
	<xs:element name="endDate" type="xs:string"/>
	<xs:element name="endTemp" type="xs:decimal"/>
	<xs:element name="gallons" type="xs:short"/>

	<xs:element name="delivery">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tankNumber"/>
				<xs:element ref="startDate"/>
				<xs:element ref="endDate"/>
				<xs:element ref="gallons"/>
				<xs:element ref="inches"/>
				<xs:element ref="startVolume"/>
				<xs:element ref="endVolume"/>
				<xs:element ref="startHeight"/>
				<xs:element ref="endHeight"/>
				<xs:element ref="startWater"/>
				<xs:element ref="endWater"/>
				<xs:element ref="startTemp"/>
				<xs:element ref="endTemp"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="endWater" type="xs:decimal"/>

	<xs:element name="endHeight" type="xs:decimal"/>
	<xs:element name="endVolume" type="xs:short"/>

	<xs:element name="startDate" type="xs:string"/>
	<xs:element name="startTemp" type="xs:decimal"/>
	<xs:element name="deliveries">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="delivery" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="startWater" type="xs:decimal"/>

	<xs:element name="startHeight" type="xs:decimal"/>
	<xs:element name="startVolume" type="xs:short"/>
	
</xs:schema>
